body{
    background-color: yellow;
    margin: 0 !important;
    padding: 0 !important;
}
.container{
    height: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.menu{
    min-height: 8%;
    min-width: 100%;
    background-color: white;
    position: absolute;
}