body{
    background-color: yellow;
    width: 100%;
    height: 100%;
    position: absolute;
}
.menu{
    min-height: 10%;
    min-width: 100%;
    background-color: black;
    position: absolute;
}